<section class="first">
  <div class="container">
    <div class="Intro">
      <h1>{{ titleFirst }}</h1>
      <p>{{ descriptionFirst }}</p>
    </div>
    <div class="main-image">
      <img [src]="imageFirst" >
    </div>
  </div>
</section>
<section class="second">
  <div class="container">
    <div class="main-image">
      <img [src]="imageSecond" >
    </div>
    <div class="Det">
      <h1>{{ titleSecond }}</h1>
      <p>{{ descriptionSecond }}</p>
    </div>
  </div>
</section>
<section class="third">
  <div class="container">
    <div class="Third">
      <h1>{{ titleThird }}</h1>
      <p>{{ descriptionThird }}</p>
    </div>
    <div class="main-image">
      <img [src]="imageThird" >
    </div>
  </div>
</section>
<section class="fourth">
  <div class="container">
    <div class="main-image">
      <img [src]="imageFourth" alt="Never Miss a Beat">
    </div>
    <div class="Fourth">
      <h1>{{ titleFourth }}</h1>
      <p>{{ descriptionFourth }}</p>
    </div>

  </div>
</section>
<section class="fifth">
  <div class="container">
    <div class="Fifth">
      <h1>{{ titleFifth }}</h1>
      <p>{{ descriptionFifth}}</p>
    </div>
    <div class="main-image">
      <img [src]="imageFifth" >
    </div>
  </div>
</section>
