<section class="first">
  <div class="container">
    <div class="Intro">
      <h1>{{ titleFirst }}</h1>
      <p>{{ descriptionFirst }}</p>
    </div>
  </div>
</section>

<section class="second">
  <h1>{{ title }}</h1>
  <div class="container">
    <div class="Det">
      <div class="main-image">
        <img [src]="icon1" >
      </div>
      <h2>{{titleSecond}} </h2>
      <p>{{ descriptionSecond }}</p>
    </div>
    <div class="Det">
      <div class="main-image">
        <img [src]="icon2" >
      </div>
      <h2>{{titleSecond2}} </h2>
      <p>{{ descriptionSecond2 }}</p>
    </div>
    <div class="Det">
      <div class="main-image">
        <img [src]="icon3" >
      </div>
      <h2>{{titleSecond3}} </h2>
      <p>{{ descriptionSecond3 }}</p>
    </div>
    <div class="Det">
      <div class="main-image">
        <img [src]="icon4" >
      </div>
      <h2>{{titleSecond4}} </h2>
      <p>{{ descriptionSecond4 }}</p>
    </div>
  </div>
</section>

<section class="third">
  <div class="container">
    <div class="Third">
      <h1>{{ titleThird }}</h1>
      <p>{{ descriptionThird }}</p>
    </div>
  </div>
</section>

<section class="fourth">
  <div class="container">
    <div class="Fourth">
      <h1>{{ titleFourth }}</h1>
      <p>{{ descriptionFourth }}</p>
    </div>
  </div>
</section>

<section class="Last">
  <div class="container">
    <div class="last1">
      <h1>{{ titleLast1 }}</h1>
      <h3>{{ tittlelast1 }}</h3>
      <p>{{ descriptionLast1 }}</p>
    </div>
    <div class="last2">
      <h1>{{ titleLast2 }}</h1>
      <h3>{{ tittlelast2 }}</h3>
      <p>{{ descriptionLast2 }}</p>
    </div>
  </div>
</section>

