<section>
  <div class="container">
    <div class="topic">
      <h2>Get in Touch with Us</h2>
      <p>Have questions, feedback, or need support? Feel free to reach out to us. Our team is here to assist you.</p>
    </div>
  </div>
  <article>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-row">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="Enter your first name">
        @if (form.controls['firstName'].touched && form.controls['firstName'].invalid) {
        <div>
          @if (form.controls['firstName'].errors && form.controls['firstName'].errors['required']) {
          <span class="text-danger">
            First Name is Required
          </span>
          }
          @if (form.controls['firstName'].errors && form.controls['firstName'].errors['minlength']) {
          <span class="text-danger">
            First Name is Minmum 3 charcters
          </span>
          }
          @if (form.controls['firstName'].errors && form.controls['firstName'].errors['maxlength']) {
          <span class="text-danger">
            First Name is Maximum length 10 charcters
          </span>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Enter your last name">
        @if (form.controls['lastName'].touched && form.controls['lastName'].invalid) {
        <div>
          @if (form.controls['lastName'].errors && form.controls['lastName'].errors['required']) {
          <span class="text-danger">
            Last Name is Required
          </span>
          }
          @if (form.controls['lastName'].errors && form.controls['lastName'].errors['minlength']) {
          <span class="text-danger">
            Last Name is Minmum 3 charcters
          </span>
          }
          @if (form.controls['lastName'].errors && form.controls['lastName'].errors['maxlength']) {
          <span class="text-danger">
            Last Name is Maximum length 10 charcters
          </span>
          }
        </div>
        }
      </div>
    </div>
    <div class="input-row">
      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="Email" id="Email" placeholder="Enter your email">
        @if (form.controls['Email'].touched && form.controls['Email'].invalid) {
        <div>
          @if (form.controls['Email'].errors && form.controls['Email'].errors['required']) {
          <span class="text-danger">
            Email is Required
          </span>
          }
          @if (form.controls['Email'].errors && form.controls['Email'].errors['email']) {
          <span class="text-danger">
            Email should be (example&#64;yahoo.com)
          </span>
          }

        </div>
        }
      </div>
      <div class="mb-3">
        <label for="PhoneNumber" class="form-label">Phone number</label>
        <input type="text" class="form-control" formControlName="PhoneNumber" id="PhoneNumber" placeholder="+20 | Enter your phone number">
        @if (form.controls['PhoneNumber'].touched && form.controls['PhoneNumber'].invalid) {
        <div>
          @if (form.controls['PhoneNumber'].errors && form.controls['PhoneNumber'].errors['required']) {
          <span class="text-danger">
            Phone number is Required
          </span>
          }
          @if (form.controls['PhoneNumber'].errors && form.controls['PhoneNumber'].errors['pattern']) {
          <span class="text-danger">
            Phone number must be [+20 | 10 digits]
          </span>
          }

        </div>
        }
      </div>
    </div>
      <div class="mb-3">
        <label for="userMessage" class="form-label">Message</label>
        <textarea class="form-control" rows="3" formControlName="userMessage" id="userMessage" placeholder="Enter your message"></textarea>
        @if (form.controls['userMessage'].touched && form.controls['userMessage'].invalid) {
        <div>
          @if (form.controls['userMessage'].errors && form.controls['userMessage'].errors['required']) {
          <span class="text-danger">
            Message is Required
          </span>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
    </form>
    <div class="Container">
      <div class="contact">
        <h3>Contact Information</h3>
        <a><i class="fa-solid fa-phone" style="color: #205149;"></i> <span>+20 1095582995</span></a>
        <a ><i class="fa-solid fa-envelope" style="color: #205149;"></i> <span>WattWacher&#64;gmail.com</span></a>
        <a ><i class="fa-solid fa-location-dot" style="color: #205149;"></i><span>Mansoura</span></a>
      </div>
      <hr>
      <div class="connect">
        <h3>Connect with us</h3>
        <a href="#"><i class="fab fa-facebook-f" style="color: #205149;"></i></a>
        <a href="#"><i class="fab fa-instagram" style="color: #205149;"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter" style="color: #205149;"></i></a>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3418.330601818181!2d31.348815780298!3d31.044894804582082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f79dd4295c80e9%3A0x29c566a018cecb77!2sMansoura%20University!5e0!3m2!1sen!2seg!4v1734027442260!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </article>
</section>
